# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=


# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=spj8usm4lqhydmvvnnoyblusdodmg9pwh7cm09jvzkr9tcuonu88urnyt4vnqugj

# Platform API 
PLATFORM_API_URL=https://PiCornApp.com


# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=https://sandbox.minepi.com/app/PiCornapp.com


